<h1>Add new player: </h1>
<%= link_to 'add', new_player_path %>
<h2>Listing of players</h2>
<% @players.each do |player| %>
       <p>
      <b><%= player.nickname %></b>
      <%= link_to 'show more...', player_path(player.id) %>
    </p>
  <% end %>
