      
      
       <p>
      <h2><b><%= @player.nickname %></b></h2><br>
      <p>has rank: </p><b><%= @player.rank %></b><br>
      <p>has charisma: </p><b><%= @player.charisma %></b><br>
      <p>has wisdom: </p><b><%= @player.wisdom %></b>
    </p>

    <%= link_to 'edit player', edit_player_path(@player.id) %><br>
    <%= link_to 'Destroy', player_path(@player.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
 